body  {
    font-family: sans-serif;
    margin: 10;
    padding: 12;
}

header, main, footer {
    margin: 20px;
}

h1, h2 {
    color: rgba(10, 80, 70, 1.8);
}

p, ul {
    color: rgb(10, 100, 200);
}



header {
    background-color: #334a64;
    padding: 15px;
    text-align: center;
}

main {
    background-color: #fafafa;
    padding: 12px;
}

section {
    margin-bottom: 17px;
}

ul {
    list-style-type: square;
}

footer {
    background-color: #b3a2a2;
    padding: 12px;
    text-align: center;
    font-size: 20em;
}
